<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- global settings -->
    <settings>
        <!-- enable/disable the mapper cache -->
        <setting name="cacheEnabled"             value="true"   />
        <!-- allow JDBC generated keys -->
        <setting name="useGeneratedKeys"         value="true"   />
        <!-- default executor: SIMPLE | REUSE (reuses prepared statements) | BATCH (batched updates) -->
        <setting name="defaultExecutorType"      value="SIMPLE" />
		<!-- MyBatis logging implementation -->
        <setting name="logImpl"                  value="SLF4J"  />
        <!-- map snake_case columns to camelCase -->
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
	</settings>
	
</configuration>
